html, *, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --red: #fb475e;
  --green: #019992;
  --mint: #44ee77;
  --orange: #ffb001;
}

body {
  background-color: #363636;
  color: #eee;
}

body, button {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.main-nav {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.menu > li {
  text-transform: uppercase;
  font-size: 3.4rem;
  font-family: 'Staatliches', cursive;
}

a, .btn--bare {
  color: #eee;
  text-decoration-color: var(--orange);
  text-decoration-line: underline;
  transition: text-shadow 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
}

a:hover, .btn--bare:hover {
  text-shadow: 0 0 5px var(--mint);
}

.menu a {
  text-shadow: none;
}

.menu a:hover, .menu a:focus {
  text-shadow: 0 -5px 10px var(--mint);
  text-decoration-color: var(--mint);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
  font-family: 'Staatliches', cursive;
}

h2 {
  text-shadow: 0 -5px 10px var(--mint);
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

section {
  text-align: center;
}

.img-block {
  max-width: 100%;
  display: block;
}

@media (min-width: 600px) {
  .hidden-md-up {
    display: none;
  }
}

@media (max-width: 599px) {
  .hidden-md-down {
    display: none;
  }
}

/* FONTS */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/staatliches.woff2) format('woff2');
}
