<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jonas Pool — Créations sonores</title>
    {{ $style := resources.Get "css/main.css" | resources.Minify }}
    <style>
      {{ $style.Content | safeCSS }}
    </style>
  </head>
  <body>
    {{ $pages := sort (where (where .Site.Pages "Kind" "page") "Section" "pages") "Weight" }}

    <div class="container">
      <nav class="main-nav">
        <img class="img-block hidden-md-up" src="/images/logo_narrow.png" alt=""/>
        <img class="img-block hidden-md-down" src="/images/logo.png" alt=""/>

        <ul class="menu">
          {{ range $pages }}
            <li>
              <a href="#{{ anchorize .Title }}">
                {{ .Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>

      {{ range $pages }}
        <section>
          <h2 id="{{ anchorize .Title }}">{{ .Title }}</h2>
          {{ .Content }}
        </section>
      {{ end }}
    </div>
  </body>
</html>
